# PlanAhead Generated physical constraints 

NET "clock" LOC = AB16;
NET "dip_switch" LOC = T4;
NET "piezo" LOC = W15;
NET "reset" LOC = L4;
NET "seg_dot" LOC = H5;
NET "sharp" LOC = K3;
NET "com[7]" LOC = G7;
NET "com[6]" LOC = G6;
NET "com[5]" LOC = F7;
NET "com[4]" LOC = F5;
NET "com[3]" LOC = K7;
NET "com[2]" LOC = K6;
NET "com[1]" LOC = K5;
NET "com[0]" LOC = J7;
NET "keypad[0]" LOC = L1;
NET "keypad[9]" LOC = K1;
NET "keypad[8]" LOC = K4;
NET "keypad[7]" LOC = L3;
NET "keypad[6]" LOC = M2;
NET "keypad[5]" LOC = N1;
NET "keypad[4]" LOC = N3;
NET "keypad[3]" LOC = M1;
NET "keypad[2]" LOC = M3;
NET "keypad[1]" LOC = K2;
NET "led_B[3]" LOC = T3;
NET "led_B[2]" LOC = P1;
NET "led_B[1]" LOC = V2;
NET "led_B[0]" LOC = U3;
NET "led_G[3]" LOC = R1;
NET "led_G[2]" LOC = P2;
NET "led_G[1]" LOC = V3;
NET "led_G[0]" LOC = T1;
NET "led_R[3]" LOC = R3;
NET "led_R[2]" LOC = P3;
NET "led_R[1]" LOC = U1;
NET "led_R[0]" LOC = T2;
NET "seg[6]" LOC = H6;
NET "seg[5]" LOC = H8;
NET "seg[4]" LOC = J6;
NET "seg[3]" LOC = D6;
NET "seg[2]" LOC = D5;
NET "seg[1]" LOC = E5;
NET "seg[0]" LOC = E6;
NET "modeInit" LOC = K8;
NET "modeSetAuto" LOC = M4;
NET "modeSetManual" LOC = M6;
NET "modeSleep" LOC = M8;
NET "modeAlarm" LOC = L6;
NET "light" LOC = M5;
NET "modeCancel" LOC = M7;


NET "clk" IOSTANDARD = LVCMOS25;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;